<div class='row' id='main-wrapper'>
  <div id='bg-vid' style="position: fixed; z-index: -99; width: 100%; height: 100%">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/eaTymLhVzMQ?autoplay=1&showinfo=0&autohide=1&loop=1&playlist=eaTymLhVzMQ&vq=hd1080" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class='title'>
    <h2>Janelle & Chan</h2>
  </div>

  <ul class='diamonds'>
    <li id='about-container' class='li-container'>
      <a href="#" class="diamond" id='about-btn'>
        <div class='content' id='about-content'>
          About Us
        </div>
        <div class='full-content' id='about-full-content' display: 'none'>
          <%= fa_icon "close", class: 'close-maximized' %>
          <p>
            Sloths are medium-sized mammals belonging to the families Megalonychidae (two-toed sloths) and Bradypodidae (three-toed sloths), classified into six species.
          </p>

          <p>
            They are part of the order Pilosa and are therefore related to anteaters, which sport a similar set of specialized claws. Extant sloths are arboreal (tree-dwelling) residents of the jungles of Central and South America, and are known for being slow-moving, hence named "sloths". Extinct sloth species include many megafaunal ground sloths, some of which attained the size of elephants, as well as a few species of marine sloths.
          </p>

          <p>
            Sloths make a good habitat for other organisms, and a single sloth may be home to moths, beetles, cockroaches, ciliates, fungi, and algae.
          </p>
          </p>
        </div>
      </a>
    </li>

    <li id='wedding-container' class='li-container'>
      <a href='#' class='diamond' id='wedding-btn'>
        <div class='content' id='wedding-content'>
          Wedding Info
        </div>
        <div class='full-content' id='-content' display: 'none'>
          <%= fa_icon "close", class: 'close-maximized' %>
          <p>
            Space is limited
            In a haiku, so it's hard
            To finish what you
          </p>

          <p>
            Anyone can write
            a haiku just stop at the
            seventeenth syllab
          </p>
        </div>
      </a>
    </li>

    <li id='registry-container' class='li-container'>
      <a href='#' class='diamond' id='registry-btn'>
        <div class='content' id='registry-content'>
          Registry
        </div>
        <div class='full-content' id='-content' display: 'none'>
          <%= fa_icon "close", class: 'close-maximized' %>
          <p>
            There are more atoms in a glass of water than there are glasses of water in the oceans.
          </p>
        </div>
      </a>
    </li>

    <li id='rsvp-container' class='li-container'>
      <a href='#' class='diamond' id='rsvp-btn'>
        <div class='content' id='rsvp-content'>
          RSVP
        </div>
        <div class='full-content' id='-content' display: 'none'>
          <%= fa_icon "close", class: 'close-maximized' %>
        </div>
      </a>
    </li>
  </ul>
</div>
