<div class='row' id='main-wrapper'>
  <div id='bg-vid' style="position: fixed; z-index: -99; width: 100%; height: 100%">
    <iframe frameborder="0" height="100%" width="100%"
      src="https://youtube.com/embed/ln96IDWdrEQ?autoplay=1&controls=0&showinfo=0&autohide=1&loop=1&playlist=ln96IDWdrEQ&vq=hd1080">
    </iframe>
  </div>

  <div class='title'>
    <h2>Janelle & Chan</h2>
  </div>

  <ul class='diamonds'>
    <li id='about-container' class='li-container'>
      <a href="#" class="diamond" id='about-btn'>
        <div class='content' id='about-content'>
          About Us
        </div>
        <div class='full-content' id='about-full-content' display: 'none'>
          <%= fa_icon "close", class: 'close-maximized' %>
        </div>
      </a>
    </li>

    <li id='wedding-container' class='li-container'>
      <a href='#' class='diamond' id='wedding-btn'>
        <div class='content' id='wedding-content'>
          Wedding Info
        </div>
        <div class='full-content' id='-content' display: 'none'>
          <%= fa_icon "close", class: 'close-maximized' %>
        </div>
      </a>
    </li>

    <li id='registry-container' class='li-container'>
      <a href='#' class='diamond' id='registry-btn'>
        <div class='content' id='registry-content'>
          Registry
        </div>
        <div class='full-content' id='-content' display: 'none'>
          <%= fa_icon "close", class: 'close-maximized' %>
        </div>
      </a>
    </li>

    <li id='rsvp-container' class='li-container'>
      <a href='#' class='diamond' id='rsvp-btn'>
        <div class='content' id='rsvp-content'>
          RSVP
        </div>
        <div class='full-content' id='-content' display: 'none'>
          <%= fa_icon "close", class: 'close-maximized' %>
        </div>
      </a>
    </li>
  </ul>
</div>
