<div class='row'>
  <div class='text-center small-12 columns'>
    <h1>Janelle & Chan</h1>
  </div>
</div>

<div class='row'>
  <div class='small-3 columns nav text-center' id='about-btn'>
    <a href='#'>About Us</a>
  </div>
  <div class='small-3 columns nav text-center' id='wedding-btn'>
    <a href='#'>The Wedding</a>
  </div>
  <div class='small-3 columns nav text-center' id='registry-btn'>
    <a href='#'>Registry</a>
  </div>
  <div class='small-3 columns nav text-center' id='rsvp-btn'>
    <a href='#'>RSVP</a>
  </div>
</div>

<div id='about-content'>
  <div class='row'>
    <div class='large-offset-1 large-10 columns end'>
      <div class='row'>
        <div class='large-12 columns'>
          <p>About us</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='wedding-content' style="display: none">
  <div class='row'>
    <div class='large-offset-1 large-10 columns end'>
      <div class='row'>
        <div class='large-12 columns'>
          <p>Wedding stuff</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='registry-content' style="display: none">
  <div class='row'>
    <div class='large-offset-1 large-10 columns end'>
      <div class='row'>
        <div class='large-12 columns'>
          <p>Registry info</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='rsvp-content' style="display: none">
  <div class='row'>
    <div class='large-offset-1 large-10 columns end'>
      <div class='row'>
        <div class='large-12 columns'>
          <p>Rsvp here</p>
        </div>
      </div>
    </div>
  </div>
</div>
