<div class='row' id='main-wrapper'>

  <div class='title'>
    <h1>Janelle & Chan</h1>
  </div>
  <ul class='diamonds'>
    <li>
      <a href="#" class="diamond" id='about-btn'>
        <div class='content'>
          About Us
        </div>
      </a>
    </li>
    <li>
      <a href='#' class='diamond' id='wedding-btn'>
        <div class='content'>
          The Wedding
        </div>
      </a>
    </li>
    <li>
      <a class='diamond' id='registry-btn'>
        <div class='content'>
          Registry
        </div>
      </a>
    </li>
    <li>
      <a class='diamond' id='rsvp-btn'>
        <div class='content'>
          RSVP
        </div>
      </a>
    </li>
    <li>
      <a class='diamond' id='acc-btn'>
        <div class='content'>
          Accommodations
        </div>
      </a>
    </li>
  </ul>
</div>
