<div id='about-content'>
      <div class='row'>
        <div class='large-offset-1 large-10 columns end'>
          <div class='row text-center'>
            <div class='large-12 columns'>
              <h2 class='content-title'>About Us</h2>
            </div>
          </div>

          <div class='row'>

          </div>
        </div>
      </div>
    </div>

    <div id='wedding-content' style="display: none">
      <div class='row'>
        <div class='large-offset-2 large-8 columns end'>
          <div class='row'>
            <div class='large-12 columns'>

              <div class='wedding-subsection'>
                <div class='row text-center'>
                  <div class='large-12 columns'>
                    <h2 class='content-title'>Ceremony & Reception</h2>
                  </div>
                </div>

                <div class='row text-center'>
                  <div class='large-12 columns'>
                    <h3>Casa Romantica Historical Center & Gardens</h3>
                    <h4>415 Avenida Granada</h4>
                    <h4>San Clemente, California 92672</h4>
                  </div>
                </div>
                <div class='row text-center'>
                  <div class='large-12 columns'>
                    <h3>Saturday, July 30, 2016, 4:30 pm</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id='ad-content' style="display: none">
      <div class='row'>
        <div class='large-offset-1 large-10 columns end'>
          <div class='row text-center'>
            <div class='large-12 columns'>
              <h2 class='content-title'>Registry</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='ad-subsection'>
                <div class='row text-center'>
                  <div class='large-12 columns'>
                    <h2 class='content-title'>Getting there & Accomodations</h2>
                  </div>
                </div>

                <div class='row text-center'>
                  <div class='large-12 columns'>
                    <h3>Directions</h3>
                  </div>
                </div>
                <div class='row text-center'>
                  <div class='large-12 columns'>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.053206261744!2d-117.62266108480135!3d33.42185718078216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcf414afb32b51%3A0xc50a70d34f57cde0!2sCasa+Romantica+Cultural+Center!5e0!3m2!1sen!2sus!4v1456540434768" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

                    <p>Drive there.</p>
                  </div>
                </div>

                <div class='row text-center'>
                  <div class='large-12 columns'>
                    <h3>Holiday Inn Express San Clemente</h3>
                  </div>
                </div>
                <div class='row text-center'>
                  <div class='large-12 columns'>
                    <p>We've held some rooms at the nearby Holiday Inn Express, San Clemente for our out of town guests. The hotel is located an 8-minute drive away, and rooms will be available at a discounted price of $205 plus tax. To reserve rooms, please use <a hreaf="#">this link</a>.</p>
                  </div>
                </div>
              </div>


    <div id='registry-content' style="display: none">
      <div class='row'>
        <div class='large-offset-1 large-10 columns end'>
          <div class='row text-center'>
            <div class='large-12 columns'>
              <h2 class='content-title'>Registry</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id='rsvp-content' style="display: none">
      <div class='row'>
        <div class='large-offset-1 large-10 columns end'>
          <div class='row text-center'>
            <div class='large-12 columns'>
              <h2 class='content-title'>RSVP</h2>
            </div>
          </div>
        </div>
      </div>
    </div>