<div class='construction-main'>
  <%= image_tag 'scenery.jpg', class:'const-img'%>
  <div class='row'>
    <div class='small-12 text-center columns'>
      <h2>This page is under construction. Please check back soon!</h2>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class='row'>
    <div class='small-4 small-offset-4 text-center columns'>
      <%= form_tag(root_path, method: 'get') do %>
        <%= password_field_tag(:password) %>
      <% end %>
    </div>
  </div>
</div>