/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome

 */

 .title {
  position: fixed;
  color: white;
  left: 25%;
  top: 49%;
  transform: translate(-50%, -50%);
  font-family: 'Hammersmith One';
  z-index: 1;
 }

.title {
  margin: 1em;
}

.content-title {
  margin: 1em;
}

.wedding-subsection {
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
}

#about-container {
  margin-left: 50px;
  margin-top: 7px;
}

#wedding-container {
  margin-left: 160px;
  margin-top: -29px;
}

#registry-container {
  margin-left: 50px;
  margin-top: -29px;
}

#rsvp-container {
 margin-left:160px;
 margin-top: -29px;
}

.close-maximized {
  display: inline-block;
  float: right;
  margin: 2%;
  z-index: 100;
  pointer-events: auto !important;
}

.const-img {
  position: absolute;
  z-index: -1;
}