/* line 3, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/screen.scss */
html,
body,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  border: 10px solid white;
}


/* line 55, ../sass/screen.scss */
.diamonds {
  font: Helvetica, Arial, sans-serif;
  font-size: 0;
  position: fixed;
  right: 25%;
  top: 49%;
  height: 500px;
  width: 300px;
  transform: translate(50%, -50%);
}
/* line 78, ../sass/screen.scss */
.diamonds > li {
  display: block;
  font-size: 18px;
}
@media only screen and (max-width: 537px) {
  /* line 78, ../sass/screen.scss */
  .diamonds > li {
    margin-right: 0;
    width: 150px;
  }
}
/* line 93, ../sass/screen.scss */
.diamonds .diamond {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  background: transparent;
  -webkit-box-shadow: 0 0 0 2px white;
  -moz-box-shadow: 0 0 0 2px white;
  box-shadow: 0 0 0 2px white;
  color: white;
  display: block;
  height: 150px;
  overflow: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  position: relative;
  text-decoration: none;
  width: 150px;
}
/* line 106, ../sass/screen.scss */
.csstransforms .diamonds .diamond {
  overflow: hidden;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 118, ../sass/screen.scss */
.diamonds .content {
  display: table-cell;
  height: 150px;
  padding: 0 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  text-align: center;
  vertical-align: middle;
  width: 150px;
  font-size: .9em;
  font-family: 'Alegreya Sans';
  font-weight: 500;
}

.diamonds .content span {
  padding-bottom: 3px;
  border-bottom: 2px solid white;
}

.content:before {
  content: '';
  position: absolute;
  top: -100px; left: -100px;
  width: 400px; height: 400px;
  background: white;
  z-index: -1;
  -webkit-transform:scaleX(0);
      -ms-transform:scaleX(0);
          transform:scaleX(0);
  -webkit-transition: -webkit-transform .5s;
          transition: transform .5s;
}
.content:hover {
  color: black;
  cursor: pointer;
}
.content:hover:before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.maximized {
  /*pointer-events: none !important;*/
  background-color: rgba(255, 255, 255, 0.7) !important;
  color: black !important;
  overflow-y: auto !important;
}

.maximized .content {
  -webkit-transform: rotate(0) !important;
  -moz-transform: rotate(0) !important;
  -ms-transform: rotate(0) !important;
  -o-transform: rotate(0) !important;
  transform: rotate(0) !important;
}

.full-content {
  padding: 1rem;
  display: none;
}

a, input, textarea, select {
  pointer-events: auto !important;
}
/* @end */